dist: bionic

language: python

python:
  - "3.8.5"

cache:
  pip: true
  directories:
  - $HOME/db/

git:
  depth: 3

env:
  global:
    - secure: "MT6pySCcO+e8OMIl/Ag/5E3RpHE3fKEmz0Kkg7KZcbtp1MHIw0DNG9kJlrO3UdH82EJRS+rUOCQaagV7M5w3QGwJw95vWrGzWHXpHkD8j8+e6wo/4eqDiJO7KzDNlsJai5pqx5PKVUtWVKhi9tYRCYmQgCyJqR2CYrkXphNcc5r6xXqVM3P9mTq/iVNNj1T01JKsMXRyzT+5kBhWA/k9LWnUUqj79JjipLu6E5ND/S40vW1+M/JzeHp5QIPv2B+ZQ1xYXd6vq75hOpfiIUhvvxLOUBiLtwV/4KyZHvylDARiwxTaAsAh7EKZ1jbFF/CKx9pcDkBtla1w/Ub/32+Bz0w7/gLJT00GuQntQ5CW5Z7iR35D1mm3xnCILX/phIo5loUKU687P+P/DVM8UhcdXa0aKd4/lLNFa7qiYSrgJGi9VZmevNTV3aEp/UBJZEPWJEnniHmPjvH/49AuHvc1xg9F8CirRAkjPP38iZsV0DKnZXA6eBeTha1acr9+0Sol9Xjx+2KiYRHJjPNsSwEs7hJD6oSmX7tCLIMJmwTVZYi8LPQu4u8zdpO6W9ujVVxHl9thX7hibaY9wPVU4H7lYcRzaLqr/hUABrgV5mELIGqEs/q7rr7s6uYw65QxOmmeMpBA9ydC8P7RVMP6Ooq6SuMPLe7ISAo3+t+2iMzUm0w="
    - GIT_NAME: "Spirillen"
    - GIT_EMAIL: 44526987+spirillen@users.noreply.github.com
    - TRAVIS_REPO_SLUG: dns-test/typosquatting.mypdns.cloud
    #- GIT_BRANCH: master
    - TZ: UTC
    #- PYFUNCEBLE_CONFIG_DIR: "${TRAVIS_BUILD_DIR}/scripts/"
    #- PYFUNCEBLE_AUTO_CONFIGURATION: PyFunceble
    - PYFUNCEBLE_AUTO_CONFIGURATION: true
    - PYFUNCEBLE_DB_CHARSET="${DB_CHARSET}"
    - PYFUNCEBLE_DB_HOST="${DB_HOST}"
    - PYFUNCEBLE_DB_NAME="${DB_NAME}"
    - PYFUNCEBLE_DB_USERNAME="${DB_USERNAME}"
    - PYFUNCEBLE_DB_PASSWORD="${DB_PASSWORD}"
    - PYFUNCEBLE_DB_PORT="${DB_PORT}"

addons:
  mariadb: '10.5'
  apt:
    packages:
    - dos2unix
    - msttcorefonts
    - lsof
    - pdns-recursor
    - ldnsutils
    update: true
  
install:
  - pip3 install --upgrade pip
  - pip3 install --no-cache-dir -U pyfunceble-dev
  #- pip3 install git+https://github.com/funilrys/PyFunceble.git@dev
  #- pip3 install ultimate-hosts-blacklist-whitelist

git:
  depth: 2

matrix:
  fast_finish: true

sudo: required

script:
  # We put both in same statement so that if one fails the whole test result will fail.
  #- echo "CPU's" && lscpu | grep -E '^Thread|^Core|^Socket|^CPU\('
  - sudo systemctl restart mysql.service pdns-recursor.service
  #- sudo mysql -u root -h localhost -e "CREATE DATABASE pyfunceble DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
  #- sudo mysql -u root -h localhost -e "CREATE USER 'root'@'%' IDENTIFIED BY ''"
  #- sudo mysql -u root -h localhost -e "CREATE USER 'pyfunceble'@'localhost' IDENTIFIED BY 'pyfunceble';"
  #- sudo mysql -u root -h localhost -e "GRANT ALL PRIVILEGES ON pyfunceble.* TO 'pyfunceble'@'localhost';"
  #- sudo mysql --user=pyfunceble --password=pyfunceble pyfunceble < ${HOME}/db/pyfunceble.sql
  #- bash scripts/test.sh && bash scripts/pyfunceble.sh && sudo mkdir -p ${HOME}/db/ && sudo mysqldump --user=pyfunceble --password=pyfunceble --opt pyfunceble > ${HOME}/db/pyfunceble.sql
  - bash scripts/test.sh && bash scripts/pyfunceble.sh #&& sudo mariadb-dump --user="${DB_USERNAME}" --password="${DB_PASSWORD}" --opt --databases "${DB_NAME}" > ${HOME}/db/pyfunceble.sql
