dist: bionic

language: python

python:
  - "3.7"
  #- "3.8"
  #- "3.8-dev"
  #- "3.9-dev"

cache:
  pip: true
  directories:
  - $HOME/db/

git:
  depth: 3

env:
  global:
    #- secure: "u5uZXAbxR31QOJ67fXo6tNIKDB50f6NWnqHS8AISo+fDawjYLrP0fkZcR2/WeIppNJwE4sut4eNPUc9cOx/vhn+joGjHaxG2Z0+WV0UWKAMil71b/qci2MUCNpwTT2Gi4Zk16EwyXa2rwZlCDnnPZE/gvCZiHBPCtlHYi7UlZ5iiqIrxAYLxV/ZmtUoWNuQuDwboXOhT6HIx10eZD5bm6jZpwzEzHDN0pZ07k7LeELzSR5EbQTHN1oBnraHrz/uuusM16QRbJyNLUSZ3PtXJw+fm7qd3tJ5nNDAap3GnHivq6isq9AUfMxOYZEV0dBwa/zyaFucPGsv4MmgJNmHK5CQXiJ3nVD8SJjiZbAuZuUaj+J6GB54YezeflzlJc3DG59U8CEjyjpjvGP7hii9DUiHd8Q4jxtuxFP2Vi5iUgFl/905OSt3IPBn6y34H9/sm99anDDcBsjQkpCMdS4ZIkCqCasFV1hH7vsCBhUl+lbMWimyqm++dGAUbFdC0wOCX4UF+gHHsgAm/850+ZT97hTNEzM7xedMQqyXiuYg8H+pH/EhtTVwKwUpYpo6mmrqwWnuFZGlIW8hY3ldljhKmPwBnS5Q5liZzOyJacLXMbQuYbqvlHhGuzh8DvA8JNhbLKlw4XjEq+Ieqk0qApAJhfCAsVZpBwhLO+G/XYbqfLKA="
    - secure: "MT6pySCcO+e8OMIl/Ag/5E3RpHE3fKEmz0Kkg7KZcbtp1MHIw0DNG9kJlrO3UdH82EJRS+rUOCQaagV7M5w3QGwJw95vWrGzWHXpHkD8j8+e6wo/4eqDiJO7KzDNlsJai5pqx5PKVUtWVKhi9tYRCYmQgCyJqR2CYrkXphNcc5r6xXqVM3P9mTq/iVNNj1T01JKsMXRyzT+5kBhWA/k9LWnUUqj79JjipLu6E5ND/S40vW1+M/JzeHp5QIPv2B+ZQ1xYXd6vq75hOpfiIUhvvxLOUBiLtwV/4KyZHvylDARiwxTaAsAh7EKZ1jbFF/CKx9pcDkBtla1w/Ub/32+Bz0w7/gLJT00GuQntQ5CW5Z7iR35D1mm3xnCILX/phIo5loUKU687P+P/DVM8UhcdXa0aKd4/lLNFa7qiYSrgJGi9VZmevNTV3aEp/UBJZEPWJEnniHmPjvH/49AuHvc1xg9F8CirRAkjPP38iZsV0DKnZXA6eBeTha1acr9+0Sol9Xjx+2KiYRHJjPNsSwEs7hJD6oSmX7tCLIMJmwTVZYi8LPQu4u8zdpO6W9ujVVxHl9thX7hibaY9wPVU4H7lYcRzaLqr/hUABrgV5mELIGqEs/q7rr7s6uYw65QxOmmeMpBA9ydC8P7RVMP6Ooq6SuMPLe7ISAo3+t+2iMzUm0w="
    - GIT_NAME: "Spirillen"
    - GIT_EMAIL: 44526987+spirillen@users.noreply.github.com
    - TRAVIS_REPO_SLUG: dns-test/typosquatting.mypdns.cloud
    #- GIT_BRANCH: master
    - TZ: Europe/Berlin
    #- PYFUNCEBLE_CONFIG_DIR: "${TRAVIS_BUILD_DIR}/scripts/"
    #- PYFUNCEBLE_AUTO_CONFIGURATION: PyFunceble
    - printf "\nSetting Variables\n"
    - script_dir="${TRAVIS_BUILD_DIR}/scripts"
    - testdir="${TRAVIS_BUILD_DIR}/test_data"
    - testfile="${testdir}/typosquatting.mypdns.cloud.list"
    - whitelist="${testdir}/whitelist.txt"
    - tag=$(date '+%F %X %Z %z')
    

addons:
  mariadb: '10.4'
  apt:
    packages:
    - dos2unix
    - msttcorefonts
    - lsof
    - pdns-recursor
    update: true
  
install:
  - pip3 install --upgrade pip
  - pip3 install pyfunceble-dev==2.53.6
  #- pip3 install git+https://github.com/funilrys/PyFunceble.git@dev
  #- pip3 install ultimate-hosts-blacklist-whitelist

git:
  depth: 2

matrix:
  fast_finish: true

sudo: required

script:
  # We put both in same statement so that if one fails the whole test result will fail.
  #- echo "CPU's" && lscpu | grep -E '^Thread|^Core|^Socket|^CPU\('
  - sudo systemctl restart mysql.service pdns-recursor.service
  #- sudo mysql -u root -h localhost -e "CREATE DATABASE pyfunceble DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
  #- sudo mysql -u root -h localhost -e "CREATE USER 'root'@'%' IDENTIFIED BY ''"
  #- sudo mysql -u root -h localhost -e "CREATE USER 'pyfunceble'@'localhost' IDENTIFIED BY 'pyfunceble';"
  #- sudo mysql -u root -h localhost -e "GRANT ALL PRIVILEGES ON pyfunceble.* TO 'pyfunceble'@'localhost';"
  #- sudo mysql --user=pyfunceble --password=pyfunceble pyfunceble < ${HOME}/db/pyfunceble.sql
  #- bash scripts/test.sh && bash scripts/pyfunceble.sh && sudo mkdir -p ${HOME}/db/ && sudo mysqldump --user=pyfunceble --password=pyfunceble --opt pyfunceble > ${HOME}/db/pyfunceble.sql
  - bash scripts/test.sh && bash scripts/pyfunceble.sh && sudo mysqldump --user=pyfunceble --password=pyfunceble --opt --databases pyfunceble > ${HOME}/db/pyfunceble.sql
